<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="main-blog">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `main-blog`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class MainBlog extends Polymer.Element {
      static get is() { return 'main-blog'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'main-blog'
          }
        };
      }
    }

    window.customElements.define(MainBlog.is, MainBlog);
  </script>
</dom-module>
